.gitignore
.git

.claude/

**/__pycache__
.cache/

docs/
cowork_mcp/
plans/

tests

.venv/
venv/
.vscode

.env
.env.*

dist/
build/
wheels/
parts/
var/
sdist/
__pypackages__/
**/*.egg-info
lib/
lib64/

# OS Specific Files
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
Desktop.ini
